<%- include('../../shared/includes/head', { pageTitle: 'Payment failed' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Payment failed</h1>
  
  </main>
<%- include('../../shared/includes/footer') %>