<%- include('../../shared/includes/head', { pageTitle: 'Payment Successful' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Ordered successfully</h1>
    <p>You can visit <a href="/orders">the orders page</a>for more details</p>
  
  </main>
<%- include('../../shared/includes/footer') %>